[Desktop Entry]
Name=Fractal
Comment=Fractal is a decentralized, secure messaging client for collaborative group communication.
GenericName=Fractal group messaging
Exec=fractal
Icon=org.gnome.Fractal
Type=Application
StartupNotify=true
X-GNOME-UsesNotifications=true
Categories=GNOME;GTK;Network;InstantMessaging;
Keywords=Matrix;matrix.org;
